<div class="container mt-5">
  <h2 class="mb-4">寄り添える仲間を探す</h2>
  
  <table class="table table-hover shadow-sm">
    <thead class="thead-light">
      <tr>
        <th>名前</th>
        <th class="text-center">アクション</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="align-middle">
            <strong><%= user.name %></strong>
          </td>
          <td class="text-center align-middle">
            <% if current_user.following?(user) %>
              <%# フォロー解除 %>
              <%= button_to "フォロー解除する", user_relationships_path(user), method: :delete, class: "btn btn-outline-primary btn-sm w-100", data: { confirm: "フォローを解除しますか？" } %>
            <% else %>
              <%# フォロー %>
              <%= button_to "フォローする", user_relationships_path(user), method: :post, class: "btn btn-primary btn-sm w-100" %>
            <% end %>
          </td>
          <td class="text-right align-middle">
            <%= link_to "プロフィール", user_path(user), class: "btn btn-light btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>